/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/*--- CSS RESET ---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --- Images --- */
img {
    width: 100%;
    object-fit: cover;
}

/* --- Links --- */
a {
    text-decoration: none;
}

/* --- Lists --- */
ul {
    list-style: none;
}

/* --- Body --- */
body {
    background-color: rgb(187, 186, 185);
    overflow-x: hidden;
}

/* ------- Global Styles ----- */
.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    padding: .5rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ------- End Global Styles ----- */